{% extends "projectApp/base.html" %}

{% block content %}

<body>

    <div class="post">

        <div class="container">

            {% if user.is_authenticated %}
            <h1>Posts</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" href="/cpost" role="button">Ask</a>
            </div>
            <form action="/search"  method="GET">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="search"> <i class="fa fa-search"></i>
                             <input type="text" name="search" class="form-control"
                                placeholder="Have a question? Ask Now"> 
                                <button class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </form>
          


            {% for post in posts %}
            <div class="po">
                <h3> {{ post.title }} - {{ post.author }}<br></h3><br>
                {{ post.body }}
                <hr>
            </div>
            {% endfor %}
            <br>
        </div>

        {% endif %}


    </div>

    </div>
</body>
{% endblock content %}